#services-container
  .container
    .row
      .twelve.columns
        h2 Nuestros Servicios
        .row
          .four.columns.service-module
            img.module-pic(src='https://static1.squarespace.com/static/5547ba95e4b06698c531adc2/t/55617d2ae4b004a8dfc586bb/1432423570132/circular+placeholder.jpg')
            h3.service-title= service_modules.advertising.title
            p.service-description= service_modules.advertising.description
            a.services-more-link(href="/#/publicidad") Ver más
          .four.columns.service-module
            img.module-pic(src='https://static1.squarespace.com/static/5547ba95e4b06698c531adc2/t/55617d2ae4b004a8dfc586bb/1432423570132/circular+placeholder.jpg')
            h3.service-title= service_modules.turism.title
            p.service-description= service_modules.turism.description
            a.services-more-link(href="/#/turism") Ver más
          .four.columns.service-module
            img.module-pic(src='https://static1.squarespace.com/static/5547ba95e4b06698c531adc2/t/55617d2ae4b004a8dfc586bb/1432423570132/circular+placeholder.jpg')
            h3.service-title= service_modules.real_state.title
            p.service-description= service_modules.real_state.description
            a.services-more-link(href="/#/real_state") Ver más
