//- This can't have an ID of #publicidad cause the adblocker blocks it
.service-section
  .top-carousel
    each val in carouselImages
      img(src=val.image1.value.main.url)
  .service-overlay-content
    .container
      .row
        .twelve.columns
          div= topTitle
          div= bottomTitle
  #service-body
      .row
        .twelve.columns
          .section-title= title
          .section-description= description
      .row
        .twelve.columns
          .section-carousel(style="height: 35vw")
            each val in carouselImages
              .carousel-image
                img(src=val.image1.value.main.url style="height: 35vw; max-height: 1600px; border: none; outline: none; transform: scale(1.1)")